<html>
    <head>
        <title>QUIZ</title>
    </head>
    <style>
        button:hover{
            box-shadow: 2px 0px 4px 4px green;
            transition: 0.3s;
        }
        button{
            background-color: green;
            color:white;
            height: 40px;
            font-family:'Courier New', Courier, monospace ;
        }
        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:larger;
        }
        #al{
            color:red;
        }
    </style>
    <body>
        <h1>{{usname}}</h1>
        <p>Your Score : <span id="scr">0</span></p>
        <center>
        <div id="qs">
            <p id="al">Choose one.....</p>
            <p id="qst"></p><br><br>
        </div>
        <div id="aws">
            <button id="a" onclick="rap(this)"></button><br><br>
            <button id="b" onclick="rap(this)"></button><br><br>
            <button id="c" onclick="rap(this)"></button><br><br>
            <button id="d" onclick="rap(this)"></button>
        </div>
        </center>
    </body>
    <script>
        var sc=0
        var qs=[{"q":"How can we describe an array in the best possible way?","ans":'c',"ops":{"a":"The Array shows a hierarchical structure.","b":"Arrays are immutable.","c":"Container that stores the elements of similar types","d":"The Array is not a data structure"}},
        {"q":"Which of the following is the correct way of declaring an array?","ans":"a","ops":{"a":"int javatpoint[10];","b":"int javatpoint;","c":"javatpoint{20};","d":"array javatpoint[10];"}},
        {"q":" How can we initialize an array in C language?","ans":"c","ops":{"a":"int arr[2]=(10, 20)","b":"int arr(2)={10, 20}","c":"int arr[2] = {10, 20}","d":"int arr(2) = (10, 20)"}},
        {"q":"Which of the following is the advantage of the array data structure?","ans":"b","ops":{"a":"Elements of mixed data types can be stored.","b":"Easier to access the elements in an array","c":"Index of the first element starts from 1.","d":"Elements of an array cannot be sorted"}},
        {"q":"Which of the following highly uses the concept of an array?","ans":"c","ops":{"a":"Binary Search tree","b":"Caching","c":"Spatial locality","d":"Scheduling of Processes"}}]
        var lb=['a','b','c','d'],j=0
        document.querySelector('#qst').innerHTML=qs[j].q
        for(let i=0;i<4;i++){
            document.querySelector(`#${lb[i]}`).innerHTML=qs[j].ops[lb[i]]
        }
        function rap(e){
            if(j<4){
                if(e.id==qs[j].ans){sc+=10}
                j++
                console.log(j)
                document.querySelector('#scr').innerHTML=sc
                document.querySelector('#qst').innerHTML=qs[j].q
                for(let i=0;i<4;i++){
                document.querySelector(`#${lb[i]}`).innerHTML=qs[j].ops[lb[i]]
                } 
            }
        else if(j<5){
            if(e.id==qs[j].ans){sc+=10}
            document.querySelector('#scr').innerHTML=sc
            j++
        }
        else{
             document.querySelector('#scr').innerHTML=sc
             document.querySelector('#qs').innerHTML="Your Quiz has been ended"
             document.querySelector('#aws').innerHTML="all the best "
        }
        }
    </script>
</html>